<% content_for :title, "About" %>

<div class="left_column">
  <h4>About Families in Christ Jesus Community</h4>
  <p>FCJC is a Christian Community in fraternal (Allied/Federated) relationship with
  sister communities nationwide and around the world who are autonomous but are
  subject to the same By-Laws, Rules and Regulations. The ultimate goal of FCJC
  is to bring families to Christ.</p>
  <p>FCJC is a Christian Community that is Catholic, Charismatic, Evangelistic and
  Family Life Oriented, whose main purposes are:</p>

  <ul>
    <li>To fulfill the Great Commission given by our Lord Jesus Christ, by
      promoting His Gospel, by sharing, by propagating and living out the Word
      of God by any and all means, and in all places;</li>
    <li>To establish more prayer group communities anywhere in the world as sister
       communities who will be in fraternal relationship (allied or federated)
       with one another, and who will develop loving and caring relationships as
       its priority;</li>
    <li>To provide Christian formation, teachings, programs, seminars, symposia,
      retreats, recollections, and make Christian community life available to all,
       whether married, single individuals, young adults, the youth and young
       children;</li>
    <li>To provide the means and the environment to strengthen and form families
      into Domestic Churches emphasizing the priesthood of the parents as found
      in Scripture and in the teachings of the Magisterium of the Roman Catholic
      Church;</li>
    <li>To develop and strengthen the relationship and service of FCJC members to
      their Pastors, Parishes and Church. To make available Catholic Christian
      Teachings, in coordination with the Magisterium, to the Catholic members,
      more particularly on the stand of the Roman Catholic Church regarding issues
       of faith and morals; and</li>
    <li>To encourage among the Youths and Young Adults vocations into the
      Religious and Priestly life.</li>
  </ul>
  <p>Membership is open to all Christian couples and individuals who subscribe to
    these purposes, objectives, and ideals of FCJC. Although it is a Catholic
    Christian Community, FCJC is open to membership by non-Catholic Christians.
    Non-Catholic members, though remaining faithful to their Church, should
    respect the principles and teachings of the Roman Catholic Church on marriage,
    human sexuality, and the family.</p>
</div>

<div class = "right_column">
  <%= image_tag "we.png" %>
  <%= image_tag "shapeimage_1.png" %>
  <%= image_tag "04.jpg" %>

  <h4>Essential Elements Of Being A Member Of FCJC</h4>

  <p>By the grace of GOD, I hereby commit to strive to:</p>
    <ol>
      <li>Adhere to the teachings of the Magisterium of the Roman Catholic Church.</li>
      <li>Have a daily Personal Prayer and Scripture Reading Time.</li>
      <li>Receive the Holy Eucharist and spend time before the Blessed Sacrament as
        frequently as possible.</li>
      <li>Go to the Sacrament of Reconciliation at least once every quarter.</li>
      <li>If married – Pray with my spouse daily.</li>
      <li>Keep holy the Lord’s Day as a family, by going to Mass together or planning
        some kind of spiritual activity.</li>
      <li>Have a weekly husband/wife meeting/dialogue, using a specific format,
        focusing on our relationship and responsibilities.</li>
      <li>Make available to GOD my TIME (priority attendance to General and
        Household Gatherings and other official FCJC activities).</li>
      <li>Make available to GOD my TALENTS (serving in the parish, in the
        community and in FCJC with my gifts).</li>
      <li>Make available to GOD my TREASURE (through tithing and voluntary
        contributions to my Parish and FCJC).</li>
    </ol>
</div>
