<% content_for :title, "Contact Us" %>
<div class="prayers">
  <h4>Contact Us</h4>
  <p>Families in Christ Jesus Community has a large number of households in the
    Cleveland Area. Here are the contact information for the Local Leaders and
    Household Heads.</p>
  <h4>Local Council Members</h4>

  <div class="left_contact">
    <%= image_tag "Tunnel.jpg" %>
    <p><b>Arch Tunnell</b><br>
    <i>Council Leader</i><br>
    H: (440) 442-7538<br>
    <%= mail_to "arco58@roadrunner.com" %></p>

  </div>

  <div class="right_contact">
    <%= image_tag "Erickson.jpg" %>
    <p><b>Mark Erickson</b><br>
    <i>Council Member</i><br>
    H: (440) 256-6829<br>
    <%= mail_to "hpres9331@aol.com" %></p>
  </div>
</div>
