<% content_for :title, "FCJC Prayers" %>

  <div id="prayer_nav">
    <center><%= render 'layouts/navbarprayers' %></center>
  </div>
  <div class="prayer_left_column">
    <h4>Parents' Prayer to the Holy Family</h4>
      <p>Jesus, only begotten Son of the Eternal Father, beloved Son of the Blessed
        Virgin and foster Child of St. Joseph, we most fervently implore You,
        through Mary, Your ever Blessed Mother, and Your adopted Father, St. Joseph,
        take our children under Your special charge and enclose them in the love of
        Your Sacred Heart.</p>

      <p>They are the children of Your Father in heaven, who were created after His
        own image. They are Your possession, for You have purchased them with Your
        precious blood. They are temples of the Holy Spirit, who sanctified them in
        baptism and implanted in their hearts the virtues of faith, hope and charity.</p>

      <p>O most loving Jesus, rule and guide them, that they may live according to
        our holy faith, that they may not waver in their confidence in You and may
        ever remain faithful in Your love.</p>

      <p>O Mary, blessed mother of Jesus, grant to our Children a place in your pure
        maternal Heart! Spread over them your protecting mantle when danger threatens
        their innocence. Keep them firm when they are about to stray from the path of
        virtue. And should they have the misfortune to fall, then raise them up again,
        and reconcile them with your Divine Son.</p>

      <p>And you, O holy foster father, St. Joseph, do not abandon our children!
        Protect them from the assaults of the wicked enemy, and deliver them from
        all dangers of soul and body.</p>

      <p>O dear parents of the holy Child Jesus, intercede for us also, that we may
        bring up our children in the love and fear of God, and one day attain with
        them the beatific vision.<br> Amen.</p>

    <h4>ACT of CONSECRATION to the IMMACULATE HEART of MARY</h4>
      <p>O Virgin Mary, most powerful Mother of Mercy, Queen of Heaven and Earth, in
        accordance with your wish made known at Fatima, I consecrate myself today to
        your Immaculate Heart. To you I entrust all that I have and all that I am. Reign
        over me, dearest Mother, that I may be yours in prosperity, in adversity, in
        joy and in sorrow, in health and in sickness, in life and in death.
        Most compassionate Heart of Mary, Queen of Virgins, watch over my mind and heart
        and preserve me from the deluge of impurity, which you lamented so sorrowfully
        at Fatima. I want to be pure like you. I want to atone for the many crimes
        committed against Jesus and you. I want to call down upon this country and the
        whole world the peace of God in justice and charity.
        Mindful of this consecration, I now promise to strive to imitate you by the
        practice of the Christian virtues without regard to human respect. I resolve to
        receive Holy Communion on the first Saturday of every month when possible, and
        to offer daily five decades of the Rosary, with all my sacrifices in the spirit
        of penance and reparation. Amen.

    <h4>ACT OF CONSECRATION TO THE HOLY FAMILY</h4>
      <p>O Jesus our most loving Redeemer, who having come to enlighten the world with
        Thy teaching and example,  didst will to pass the greater part of Thy life in
        humility and subjection to Mary and Joseph in the poor home of Nazareth, thus
        sanctifying the Family that was to be an example for all Christian families,
        graciously receive our family as it dedicates and consecrates itself to Thee
        this day. Do Thou protect us, guard us and establish amongst us Thy holy fear,
        true peace and concord in Christian love: in order that by living according to
        the divine pattern of Thy Family we may be able, all of us without exception, to
        attain eternal happiness.
        Mary dear mother of Jesus and mother of us all, by thy kindly intercession, make
        this, our humble offering, acceptable in the sight of Jesus, and obtain for us
        His graces and blessings.
        O Saint Joseph, most holy Guardian of Jesus and Mary, help us by thy prayers in
        all our spiritual and temporal needs, so that we may be enabled to praise our
        divine Savior Jesus, together with Mary and thee, for all eternity.
        (Recite one Our Father, one Hail Mary and three Glory Be’s.) Amen</p>

    <h4>ACT of CONSECRATION to SAINT JOSEPH</h4>
      <p>O BLESSED JOSEPH, foster father of my savior and chaste spouse of the Mother of
        God, this day, I irrevocably adopt you for my intercessor with the Almighty as
        well as my model, my protector and my father in this valley of exile. O St.
        Joseph, whom the Lord constituted guardian of His family, I beseech you to
        extend your tender solicitude over all my interests. Kindle in my heart a
        vehement love for JESUS, and enable me to serve Him with all your devotedness
        and fidelity. Aid my inability to venerate Mary as my advocate, to honor her as
        my Queen and to love her as my Mother. Be my never-failing guide in the way of
        virtue and piety, and grant that, after having faithfully followed you in the
        path of justice, I may receive your powerful protection at the hour of my death.
        Amen</p>
  </div>

  <div class="prayer_right_column">
    <%= image_tag "topimage_1.png" %><br><br>
    <%= image_tag "MamaMary.jpg" %><br><br>
    <%= image_tag "Saintjoseph.jpg" %>
  </div>
