<% content_for :title, "Mission" %>
<div class ="left_column">
  <div id="mission_sec_1">
    <h4>Mission  &amp; Vision</h4>
      <p><i>Families Bringing Families To Christ.</i></p><br>
  </div>
    <p>We are a movement of Catholic Christian Communities who believe in the
       urgent need to respond to God’s call to proclaim and defend His Gospel
       on the family (Gen 1:28; Gen 2:24).</p><br>
    <p>Couples or individuals who are being evangelized by FCJC members are
      invited at some point to what is called an LCS. The LCS is the entry point
      for membership in Families in Christ Jesus Community (FCJC), FCJC Singles
      (Single men or women ages 36 and above, widow, widower, husband or wife
      whose spouses are not ready to commit to FCJC),  FCJC Young Adults (single
      men or women ages 18-35). The FCJC Youth (teenagers ages 12-17) join
      through a youth camp and the FCJC Kids (children below age 12) automatically
      become members as their parents join FCJC. More importantly, the LCS-1 for
      many, becomes the entry point for a continuing life lived in the power of
      the Holy Spirit.</p>
<div id="mission_sec_2">
  <h4>What is the Life in Christ Series (LCS) ?</h4>
      <p>The LCS is an integrated course intended to lead the program participants
       into a renewed understanding of God's call to them as Christian families
       and individuals. It runs for a total of 9 separate sessions, usually held
       once a week. Most sessions consist of three basic ingredients: a teaching,
       a group discussion, and a time for fellowship.  Each session would normally
       last for about 2-1/2 hours.</p>
</div>
  <div id="mission_sec_2">
    <h4>What are the goals of the LCS?</h4>
      <p>The LCS has two basic purposes: evangelism and spiritual renewal.</p>
  </div>

    <p>To evangelize is to take the basic message of Christianity and to proclaim
       it anew so that those who hear it can make a renewed commitment to the
       Lord in a way which will allow them to receive a fuller experience of the
       work of the Holy Spirit in their lives.</p>
  <div id="mission_sec_2">
    <h4>Spiritual renewal works in three ways:</h4>
    <p>1. For the individual, it brings a person into a stronger relationship
          with God by discovering and living more fully the power and gifts he
          or she received through the Holy Spirit.</p>
    <P>2. For the family, it brings married couples and individual members of
          the family into a renewed commitment to Christian family life and it
          starts to build up a community of committed Christian families.</P>
    <P>3. For the Church, it brings people who already have a clear
          identification with a particular parish to a fuller experience of life
          in the Spirit. It also strengthens and revitalizes community life in the
          parish itself.</p>
    </div>
</div>

<div class="right_column">
  <%= image_tag "01.jpg" %>
  <h4>What is the content of the LCS?</h4>
  <p>The LCS runs for a total of 10 consecutive sessions (usually held weekly),
     divided into an Orientation Session and then 2 modules of 4 and 5 sessions
     respectively. The topics of the 9 sessions are:</p>

  <p>Module 1: The Basic Truth about Christianity
    <ol>
      <li>God's Love</li>
      <li>Who is Jesus Christ.</li>
      <li>What it means to be a Christian</li>
      <li>Repentance and Faith</li>
    </ol>
  <p>Module 2: The Authentic Christian Life</p>
    <ol start ="5">
      <li>Life in the Holy Spirit</li>
      <li>What are the Spiritual Gifts?</li>
      <li>Receiving the Power of the Holy Spirit</li>
      <li>The Christian Family</li>
      <li>Transformation in Christ and Dedication</li>
    </ol>
  </p>
  <h4>THE HOUSEHOLD - FCJC'S CELL SUPPORT STRUCTURE</h4>
    <p>After the Life in Christ Series (LCS), the couples and individual
      participants are invited to join FCJC. When they do, they are assigned to
      a cell group called a Household. The household is a grouping of couples
      and/or individuals who meet regularly twice a month for personal sharing
      and for mutual support and encouragement in the Christian life. As such,
      the household is the basic unit in the pastoral structure of the FCJC
      family.</p>
    <p>Since the household is the basic support structure for living out the
      Christian lives of the members, activities could also vary from time to
      time, reflecting the richness of the Christian life.</p>
    <p>Thus, household meetings could be devoted to praying over or healing
      sessions, intercessory prayers, Lord's Day celebration, video viewing and
      discussion, socials (sports, outings, picnics, etc.) or any other activity
      that can contribute to Christian growth. The household meet also with other
      households in a Family Prayer Gathering once a month.</p>
</div>
