<% content_for :title, "FCJC National Prayer Gathering" %>
<div class="gathering">
  <h4>FCJC National Prayer Gathering Info &amp; Registration Form</h4>
  <p>13th National Prayer Gathering</p>
  <%= link_to asset_path("FCJC_Oct_2014_NPG_Reg_Form.pdf"), :target => "_blank" do %>
    <p>Download Registration Form Here</p>
  <% end %>
</div>
