<% content_for :title, "Exposition of the Blessed Sacrament" %>
<div id="prayer_nav">
  <center><%= render 'layouts/navbarprayers' %></center>
</div>
<div class="prayer_left_column">
  <h4>Exposition of the Blessed Sacrament<br>
  (Eucharist Adoration & Benediction)</h4>

  <h4>Exposition:<br>O Salutaris</h4>
  <p>O salutaris Hostia<br>
    Quae caeli pandis ostium;<br>
    Bella premunt hostilla,<br>
    Da robur, fer auxillium.<br>
    Uni trinoque Domino<br>
    Sit sempiterna gloria,<br>
    Qui vitam sine termino<br>
    Nobis donet in patria. Amen.</p>

  <h4>Adoration:</h4>
  <p>During this period there should be appropriate prayers, songs, readings from
     scripture, and a brief homily to help the congregation focus its attention
     to the worship of the Lord. Remember that we are in the “Real Presence” of
     Jesus Christ.</p>

  <h4>Benediction:<br>Tantum Ergo</h4>
  <p>Tantum ergo Sacramentum<br>
  Veneremur cernul,<br>
  Et antiquum documentum<br>
  Novo cedat ritul;<br>
  Praestet fides supplementum<br>
  Sensuum defectful.<br>
  Genitori Gentioque<br>
  Laus et jubilatio,<br>
  Salus, honor, virtus quoque<br>
  Sit et benedictio;<br>
  Procedenti ab utroque<br>
  Compar sit laudatio. Amen.</p>

  <p><mark class = "blue">Priest/Deacon:</mark> You have given them Bread from heaven
     (P.T. Alleluia)<br>
  <mark class="blue">ALL:</mark> Having all sweetness with it (P.T. Alleluia)<br>
  <mark class="blue">Priest/Deacon:</mark> Lord Jesus Christ, you gave us the
    Eucharist as the memorial of your suffering and death. May our worship of
    this sacrament of your body and blood, help us to experience the salvation
    won for us and the peace of the kingdom, where you live with the Father and
    the Holy Spirit, one God, for ever and ever.<br>
  <mark class="blue">ALL:</mark> Amen.<br>
  The celebrant will then bless all present with the Eucharist.</p>

  <h4>Reposition:</h4>
  <p>When the priest or deacon has blessed everyone he then replaces the Blessed
     Sacrament in the tabernacle and genuflects. The following acclamation may
     be said at this time. This acclamation is called the Divine Praises.</p>

  <h4>Devine Praises</h4>
  <p>Blessed be God.<br>
    Blessed be his holy name.<br>
    Blessed be Jesus Christ, true God and true man.<br>
    Blessed be the name of Jesus.<br>
    Blessed be his most Sacred Heart.<br>
    Blessed be his most Precious Blood.<br>
    Blessed be Jesus in the most holy sacrament of the altar.<br>
    Blessed be the Holy Spirit, the Paraclete.<br>
    Blessed be the great Mother of God, Mary most holy.<br>
    Blessed be her holy and Immaculate Conception.<br>
    Blessed be her glorious Assumption.<br>
    Blessed be the name of Mary, virgin and Mother.<br>
    Blessed be St. Joseph, her most chaste spouse.<br>
    Blessed be God in his angels and in his saints.<br>
    Amen.</p>

  <h4>Final Hymn</h4>
  <p>Suggested Hymn:<br>
    Holy God, we praise thy name;<br>
    Lord of all, we bow before thee;<br>
    All on earth they scepter claim;<br>
    All in heaven above adore thee.<br>
    Infinite they vast domain,<br>
    Everlasting is thy reign!<br><br>
    Hark, the loud celestial hymn;<br>
    Angel choirs above are raising;<br>
    Cherubim and Seraphim,<br>
    In unceasing chorus praising,<br>
    Fill the heavens with sweet accord:<br>
    Holy, holy, holy, Lord</p>
</div>
<div class="prayer_right_column">
  <%= image_tag "Eucharist01.jpg" %><br><br>
  <%= image_tag "Eucharist02.jpg" %><br><br>
  <%= image_tag "jesus-christ.jpg" %>
</div>
