<% content_for :title, "FCJC Newsletters" %>
<h4>FCJC Families Matter Newsletter</h4>
<p>Click on the issue of Families Matter Newsletter.</p>
<% content_for :title, "Family Matters" %>
<h4>Family Matters</h4>

<%= form_tag do %>
    <%= label_tag ( "Newletter Month") %><br>
    <%= submit_tag ("Add") %>

<% end %>
