/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
 */

html, body, div, span, applet, object, iframe, h3, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, center,
dl, dt, dd, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  background: #686868;
}

body {
  margin: 0;
}

.main_container {
  background: white;
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

.topnavbar {
  display: block;
  position: absolute;
  top: 120px;
  width: 1024px;
  background: linear-gradient(black,#686868,black);
  height: 50px;
}

.topnavbar li{
  display: inline;
  border-right: 1px solid white;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom:2px;
}

.topnavbar ul {
  margin-top: 15px;
}

.topnavbar ul li:last-child {
  border-right: none;
}

.topnavbar a {
  color: white;
  text-decoration: none;
}

.footer{
  display: inline-block;
  clear: both;
  width: 1024px;
  background: white;
  margin-top: 10px;
}

.footer li {
  display: inline-block;
  border-right: 1px solid blue;
  padding-right: 6px;

}

.footer a {
  margin-left: auto;
  margin-right: auto;
  color: blue;
  text-decoration: none;
  font-size: 8pt;
}

.footer ul{
  padding-left: 0;
  margin-bottom: 8px;
  line-height: 10px;
}

.footer p {
  color: blue;
  font-size: 7pt;
  padding-bottom: 10px;
  margin: 0;
}

.footer li:last-child {
  border-right: none;
}
