// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gallery {
  min-height: 635px;
  margin-left: 25px;
  margin-top: 60px;
}

.gallery_table {
  display: inline-block;
  margin-bottom: 10px;
  width: 75%;
}

.gallery_album {
  margin-right: 15px;
  display: inline-block;
}
