// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gallery {
  min-height: 525px;
  margin-left: 25px;
  margin-top: 60px;
}
.gallery_table ul{
  width: 25%;
}

.gallery_table li{
    display: inline-block;
    list-style-type: none;
}
