// Place all the styles related to the newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left_side_add_docs {
  display: inline-block;
  margin-top: 45px;
  min-height: 640px;
  width: 400px;
  margin-left: 25px;
}

.left_side_add_docs a {
  text-decoration: none;
}

.right_column_fm {
  display: inline-block;
  margin-top: 65px;
  margin-right: 25px;
  float: right;
}

.right_column_fm img {
  border-radius: 5px;
}

.alert-error h1 {
  color: red;
}
.alert-error {
  margin-top: 40px;
}

.alert-info {
  margin-top: 10px;
  font-size: 10pt;
  color: red;
  margin-bottom: 10px;
}

.left_side_index {
  margin-top: 50px;
  margin-bottom: 25px;
}

.left_side_index h5 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.left_side_index a {
  color: orange;
}

.left_side_index a:hover {
  color: blue;
}

.link_button {
  border-radius: 5px;
  padding:5px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #B8B8B8;
  border: 1px solid #000;
  color:#000;
  text-decoration:none;
}
