// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  font-family: verdana;
}

body p{
  font-size: 10pt;
}

h4 {
  color: blue;
}

.content {
  display: block;
  background: white;
  top: 500px;
  width: 650px;
  margin-left: 25px;
  min-height: 690px;
  margin-bottom: 30px;
}

.content p{
  line-height: 1.5em;
}

#placeholder {
  margin-top: 70px;
  display: block;
  float: left;
  background: black;
  width: 645px;
  height: 310px;
  margin-left: 25px;
  margin-bottom: 15px;
}

#sitenavs {
  display: inline-block;
  float: right;
  margin-top: 53px;
  background: white;
}

#sitenavs li {
  padding-bottom: 10px;
  padding-right: 20px;
  list-style-type: none;
}

#sitenavs ul li:last-child{
  padding-bottom: 50px;
}

.left_column {
  display: block;
  background: white;
  float: left;
  width: 472px;
  margin-top: 45px;
  margin-left: 25px;
  margin-right: 5px;
  line-height: 1.6em;
  min-height: 690px;
}

.left_column li {
  font-size: 10pt;
}

.right_column {
  display: block;
  background: white;
  float: left;
  width: 477px;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 15px;
  line-height: 1.6em;
  min-height: 690px;
}

.right_column li {
  font-size: 10pt;
}

.right_column img {
  border-radius: 5px;
}
#images li {
  list-style-type: none;
  display: inline-block;
}

#images img {
  border-radius: 5px;
}

#images ul {
  padding-left: 0px;
}

#images li:last-child {
  padding-left: 40px;
}

#mission_sec_1 h4 {
  color: blue;
  margin-bottom: 0;
}

#mission_sec_1 p {
  margin-top: 0;
}

#mission_sec_2 h4 {
  color: blue;
  margin-bottom: 0;
}

#mission_sec_2 p {
  margin-top: 0;
}

.prayers {
  display: inline-block;
  background: white;
  margin-left: 25px;
  margin-top: 50px;
  min-height: 600px;
  margin-right: 25px;
  margin-bottom: 30px;
}

.prayers img {
  border-radius: 5px;
}

#prayer_images_left {
  float: left;
  margin-right: 100px;
  margin-left: 150px;
}

#prayer_images_left p {
  margin-top: 0px;
}

#prayer_images_right p {
  margin-top: 0px;
}

.prayers ul{
  list-style-type: none;
  margin-top: 45px;
  padding-left: 0px;
}

.prayers h5 {
  color: blue;
  margin-bottom:0px;
}
.links {
  margin-top: 75px;
  min-height: 600px;
  background: white;
}

.links img {
  border-radius: 5px;
  box-shadow: 10px 10px 10px #888888;
}

.links a {
  text-decoration: none;
}

.links a:visited {
  color: blue;
}

.links table{
  border-spacing: 25px;
  text-align: center;
  margin-left: 10px;
}

#top_para {
  margin-left: 35px;
}

#prayer_nav {
  margin-top: 55px;
}

#prayer_nav li{
  display: inline;
  list-style-type: none;
  border-right: 1px solid;
  padding-right: 10px;
  padding-left:5px;
  font-size: 8pt;
}

#prayer_nav a {
  text-decoration: none;
}

#prayer_nav a:link {
  color: blue;
}

#prayer_nav a:visited {
  color: blue;
}

#prayer_nav a:hover {
  color: orange;
}

#prayer_nav a:active {
  color: blue;
}

#prayer_nav li:last-child {
  border-right: none;
}

.prayer_left_column {
  background: white;
  float: left;
  width: 550px;
  margin-left: 25px;
  margin-right: 5px;
  line-height: 1.6em;
  min-height: 690px;
}

.prayer_right_column {
  background: white;
  float: right;
  width: 400px;
  margin-top: 25px;
  margin-left: 20px;
  min-height: 690px;
}

.prayer_right_column img {
  border-radius: 5px;
}

.prayer_left_column h4 {
  margin-bottom: 0px;
}

.prayer_left_column p {
  margin-top: 3px;
}

#eng_prayer_li li{
  list-style-type: upper-roman;
  font-size: 10pt;
  text-align: left;
  height: 15px;
}

#eng_prayer_li ol {
  margin-top: 0px;
}

#eng_prayer_li h5{
  margin-bottom: 0px;
  margin-left: 15px;
}

mark.blue {
  background-color: white;
  color: blue;
  font-weight: bold;
}

.contact {
  margin-top: 70px;
  margin-left: 25px;
}

.contact img{
  border-radius: 5px;
}

.local_council_members {
  min-height: 980px;
}
.left_contact a{
  text-decoration: none;
}

.right_contact a{
  text-decoration: none;
}

.left_contact {
  display: inline-block;
  float: left;
  width: 525px;
}

.left_contact p {
  display: inline-block;
  position: relative;
  bottom: 10px;
  margin-right: 0px;
  margin-left: 15px;
  line-height: 1.3em;
}

.right_contact {
  display: inline-block;
  float: left;
}

.right_contact p {
  display: inline-block;
  position: relative;
  bottom: 10px;
  margin-left: 15px;
  line-height: 1.3em;
}

.local_leaders {
  display: inline-block;
}

.household_leaders {
  display: inline-block;
}

.calender {
  margin-top: 70px;
  margin-left: 25px;
  margin-bottom: 25px;
}

.gathering {
  margin-top: 70px;
  margin-left: 25px;
  margin-bottom: 25px;
}
.gathering a{
    text-decoration: none;
}

.gathering a:visited {
  color: blue;
}

.pledge {
  margin-top: 45px;
}
