// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  font-family: verdana;
}

body p{
  font-size: .8em;
}

h4 {
  color: blue;
}

.content {
  display: block;
  background: white;
  top: 500px;
  width: 650px;
  margin-left: 25px;
  min-height: 690px;
  margin-bottom: 30px;
}

.content p{
  line-height: 1.8em;
}

#placeholder {
  margin-top: 70px;
  display: block;
  float: left;
  background: black;
  width: 645px;
  height: 310px;
  margin-left: 25px;
  margin-bottom: 15px;
}

#sitenavs {
  display: inline-block;
  float: right;
  margin-top: 53px;
  background: white;
}

#sitenavs li {
  padding-bottom: 10px;
  padding-right: 20px;
  list-style-type: none;
}

#sitenavs ul li:last-child{
  padding-bottom: 50px;
}

.left_column{
  display: block;
  background: white;
  float: left;
  width: 482px;
  margin-top: 45px;
  margin-left: 25px;
  margin-right: 5px;
}

.right_column{
  display: block;
  background: white;
  float: left;
  width: 482px;
  margin-top: 70px;
  margin-left: 5px;
  margin-right: 25px;
}
