// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  font-family: verdana;
}

body p{
  font-size: 10pt;
}

h4 {
  color: blue;
}

.content {
  display: block;
  background: white;
  top: 500px;
  width: 650px;
  margin-left: 25px;
  min-height: 690px;
  margin-bottom: 30px;
}

.content p{
  line-height: 1.5em;
}

#placeholder {
  margin-top: 70px;
  display: block;
  float: left;
  background: black;
  width: 645px;
  height: 310px;
  margin-left: 25px;
  margin-bottom: 15px;
}

#sitenavs {
  display: inline-block;
  float: right;
  margin-top: 53px;
  background: white;
}

#sitenavs li {
  padding-bottom: 10px;
  padding-right: 20px;
  list-style-type: none;
}

#sitenavs ul li:last-child{
  padding-bottom: 50px;
}

.left_column {
  display: block;
  background: white;
  float: left;
  width: 472px;
  margin-top: 45px;
  margin-left: 25px;
  margin-right: 5px;
  line-height: 1.6em;
  min-height: 690px;
}

.left_column li {
  font-size: 10pt;
}

.right_column {
  display: block;
  background: white;
  float: left;
  width: 477px;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 15px;
  line-height: 1.6em;
  min-height: 690px;
}

.right_column li {
  font-size: 10pt;
}


#images li {
  list-style-type: none;
  display: inline-block;
}

#images ul {
  padding-left: 0px;
}

#images li:last-child {
  padding-left: 40px;
}

#mission_sec_1 h4 {
  color: blue;
  margin-bottom: 0;
}

#mission_sec_1 p {
  margin-top: 0;
}

#mission_sec_2 h4 {
  color: blue;
  margin-bottom: 0;
}

#mission_sec_2 p {
  margin-top: 0;
}
