<% content_for :title, "Images" %>
<br>
<br>
<br>
<h4>Images Index Page </h4>

<!--
<% @images.each do |image| %>
  <h5><%= link_to "#{img.title} #{image.description}",
      newsletter.attachment_url, :target => "_blank" %></h5>
  <p><%= newsletter.title %></p>

  <%= button_to "Delete",  newsletter, method: :delete,
      confirm: "Are you sure that you wish to delete #{newsletter.title}?" %>
<% end %>


image_tag "http://abc.com#{@image.image}"
-->
