<ul>
  <li><%= link_to "FCJC Prayers", static_pages_fcjc_pray_path %></li>
  <li><%= link_to "Common Prayers - English", static_pages_cp_eng_path %></li>
  <li><%= link_to "Common Prayers - Latin", static_pages_cp_lat_path %></li>
  <li><%= link_to "Exposition of the Blessed Sacrament", static_pages_sacrament_path %></li>
</ul>
