<ul>
  <li><%= link_to "FCJC Prayers", fcjc_pray_path %></li>
  <li><%= link_to "Common Prayers - English", cp_eng_path %></li>
  <li><%= link_to "Common Prayers - Latin", cp_lat_path %></li>
  <li><%= link_to "Exposition of the Blessed Sacrament", sacrament_path %></li>
</ul>
